@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.grid-container-index, .grid-container-nosotros, .grid-container-refugio, .grid-container-adopciones, .grid-container-contacto {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 110px 1fr 80px; }

.ley-index, .ley-index .ley-animal, .instagram, .info-refugio {
  display: flex;
  flex-direction: column;
  align-items: center; }

.grid-container-index {
  grid-template-areas: "menu-bar" "main-index" "footer"; }

.menu-bar {
  grid-area: menu-bar;
  background-color: #023047; }

.grid-container-nosotros {
  grid-template-areas: "menu-bar" "quienes-somos" "footer"; }

.quienes-somos {
  grid-area: quienes-somos;
  background-color: #8ECAE6; }

.grid-container-refugio {
  grid-template-areas: "menu-bar" "main-refugio" "footer"; }

.main-refugio {
  grid-area: main-refugio; }

.grid-container-adopciones {
  grid-template-areas: "menu-bar" "main-adoptar" "footer"; }

.main-adoptar {
  grid-area: main-adoptar;
  background-color: #8ECAE6; }

.grid-container-contacto {
  background-color: #8ECAE6;
  grid-template-areas: "menu-bar" "main-contacto" "footer"; }

.main-contacto {
  grid-area: main-contacto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 830px; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .navbar .navbar-brand img {
    width: 70px;
    height: 70px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .navbar .navbar-nav {
    display: flex;
    flex-direction: row;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase; }
    .navbar .navbar-nav .nav-link {
      color: #f8f7ff; }

.footer {
  grid-area: footer;
  background-color: #023047;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .footer img {
    width: 40px;
    height: 40px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .footer p {
    color: #7D92A2; }
  .footer .logo-redes i {
    font-size: 35px;
    padding: 10px;
    color: #f8f7ff; }
    .footer .logo-redes i:hover {
      color: #219EBC; }

.banner {
  background-image: url(../img/portada.jpg);
  background-size: cover;
  background-position: center;
  height: 700px;
  display: grid;
  grid-template-columns: 20px 1fr 1fr 2fr;
  grid-template-rows: 20px 100px 100px 80px 80px 80px;
  gap: 5px; }
  .banner h1 {
    font-size: 70px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 12px;
    grid-column: 2/4;
    grid-row: 2/3;
    color: #023047; }
  .banner h2 {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    padding-left: 20px;
    padding-top: 30px;
    grid-column: 2/4;
    grid-row: 3/4;
    color: #023047; }
  .banner p {
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    padding-left: 20px;
    padding-top: 25px;
    grid-column: 2/4;
    grid-row: 4/5;
    color: #f8f7ff; }
  .banner a {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    grid-column: 2/3;
    grid-row: 6/7;
    background-color: #8ECAE6;
    border-radius: 10px;
    width: 50%;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #f8f7ff; }
    .banner a:hover {
      animation: donar 4s; }

@keyframes donar {
  0% {
    background-color: #023047;
    color: #8ECAE6;
    transform: scale(1.2); }
  25% {
    background-color: #023047;
    color: #8ECAE6;
    transform: scale(1); } }

.ley-index {
  height: 800px;
  background: #8fbdd3;
  background: linear-gradient(180deg, #8fbdd3 0%, rgba(255, 255, 255, 0.367384) 100%); }
  .ley-index .ley-animal {
    background-color: #023047;
    color: #f8f7ff;
    margin: 100px;
    border-radius: 10px; }
    .ley-index .ley-animal h3 {
      font-family: 'Lato', sans-serif;
      font-size: 2.5rem;
      padding: 0.5em; }
    .ley-index .ley-animal p {
      font-family: 'Lato', sans-serif;
      font-size: 1.56rem;
      padding: 1.2em; }
  .ley-index .bloque-donaciones {
    display: flex;
    width: 70%;
    justify-content: space-around; }
    .ley-index .bloque-donaciones .item-donaciones {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 20%;
      border-radius: 50%; }
      .ley-index .bloque-donaciones .item-donaciones img {
        width: 130px;
        height: 130px; }
      .ley-index .bloque-donaciones .item-donaciones a {
        text-decoration: none;
        color: #023047;
        padding-top: 20px;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        font-weight: 700; }
        .ley-index .bloque-donaciones .item-donaciones a:hover {
          color: #5a99b6; }

.instagram h3 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  margin: 0.33em; }

.instagram h4 {
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  margin: 1em;
  padding-bottom: 2em; }

.instagram img {
  width: 400px;
  height: 400px;
  padding-bottom: 50px; }
  .instagram img:hover {
    transform: scale(1.2);
    transition: 1s; }

.instagram .fotos-instagram {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }

/* Nosotros Page */
.us {
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .us p {
    font-family: 'Lato', sans-serif;
    font-size: 1.375rem;
    margin: 1.1em;
    color: #023047; }
  .us img {
    width: 500px;
    height: 300px;
    margin: 20px;
    rotate: 5deg; }

.fundadores {
  background-color: #1A506B; }
  .fundadores h3 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 0.5em;
    padding-top: 0.75em;
    color: #f8f7ff; }
  .fundadores .box-fundador {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    flex-wrap: wrap; }
    .fundadores .box-fundador .card {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      height: 400px;
      background-color: #1A506B; }
      .fundadores .box-fundador .card img {
        width: 200px;
        height: 300px; }
      .fundadores .box-fundador .card .card-body p {
        font-family: 'Lato', sans-serif;
        color: #f8f7ff;
        font-size: 18px; }

/* Refugio Page */
.info-refugio {
  background-color: #8ECAE6; }
  .info-refugio div p {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    font-style: italic;
    margin: 1.5em;
    color: #f8f7ff;
    font-weight: 600; }
  .info-refugio iframe {
    width: 80%;
    height: 650px;
    margin-bottom: 60px; }

.animales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background: #8ecae6;
  background: linear-gradient(180deg, #8ecae6 0%, #023047 100%);
  padding-top: 10px;
  padding-bottom: 10px; }
  .animales img {
    width: 200px;
    height: 200px; }

/* Adopciones Page */
.hashtag h3 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  margin: 1em; }

.hashtag p {
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  margin-left: 1.5em; }

.hashtag .hashtag-adopta {
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  margin-left: 1.5em;
  color: #219EBC; }

.box-adoptar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
  height: 800px;
  margin: 30px;
  padding: 20px;
  border-radius: 5px;
  gap: 10px;
  background-color: #023047; }
  .box-adoptar .card {
    width: 330px;
    height: 700px;
    background-color: #f8f7ff; }
    .box-adoptar .card img {
      width: 330px;
      height: 400px; }
    .box-adoptar .card .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center; }
      .box-adoptar .card .card-body p {
        font-family: 'Lato', sans-serif;
        font-size: 18px; }
      .box-adoptar .card .card-body a {
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        background-color: #8ECAE6;
        width: fit-content;
        border-radius: 3px;
        color: #023047; }
        .box-adoptar .card .card-body a:hover {
          background-color: #219EBC; }

/* Contacto Page */
.map {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 20px; }
  .map div {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #023047;
    margin: 20px;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .map div:hover {
      color: #023047; }

.formulario {
  color: #023047; }
  .formulario h3 {
    font-family: 'Lato', sans-serif;
    font-size: 30px; }

/* INDEX */
@media screen and (max-width: 1700px) {
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px; }
    .banner a {
      width: 150px;
      margin: 20px;
      padding-bottom: 20px; } }

@media screen and (max-width: 1700px) {
  .item-donaciones {
    width: 25%; } }

@media screen and (max-width: 991px) {
  .navbar {
    background: #8FBDD3; }
    .navbar .navbar-nav {
      display: flex;
      flex-direction: column;
      background: #8FBDD3; } }

@media screen and (max-width: 898px) {
  .ley-index {
    height: 850px; }
  .footer p {
    display: none; } }

@media screen and (max-width: 818px) {
  .ley-index {
    height: 1000px; }
    .ley-index .bloque-donaciones {
      display: flex;
      width: 70%;
      justify-content: space-around;
      flex-direction: column;
      align-items: center; }
      .ley-index .bloque-donaciones .item-donaciones {
        padding: 15px; }
        .ley-index .bloque-donaciones .item-donaciones img {
          width: 100px;
          height: 100px; }
  .instagram {
    margin-top: 200px; }
    .instagram img {
      padding: 20px; } }

@media screen and (max-width: 563px) {
  .ley-index {
    height: 1500px; }
  .banner h1 {
    text-align: center; }
  .banner h2 {
    display: none; }
  .banner p {
    visibility: hidden; }
  .instagram {
    display: none; } }

@media screen and (max-width: 527px) {
  .banner h1 {
    font-size: 40px; }
  .banner a {
    display: none; }
  .ley-index {
    height: 2000px; } }

/* NOSOTROS PAGE */
@media screen and (max-width: 955px) {
  .us {
    height: 1000px;
    flex-wrap: wrap;
    justify-content: center; }
    .us img {
      rotate: none; } }

@media screen and (max-width: 869px) {
  .fundadores .box-fundador {
    height: 900px; } }

@media screen and (max-width: 622px) {
  .fundadores {
    height: 1400px;
    flex-wrap: nowrap;
    flex-direction: column; }
    .fundadores .card {
      margin-top: 10px; } }

@media screen and (max-width: 622px) {
  .us img {
    width: 400px;
    height: 250px; } }

@media screen and (max-width: 424px) {
  .us {
    height: 600px; }
    .us p {
      font-size: 18px; }
    .us img {
      display: none; } }

/* REGUFIO PAGE */
@media screen and (max-width: 638px) {
  .info-refugio iframe {
    display: none; } }

/* ADOPCIONES PAGE */
@media (max-width: 1750px) and (min-width: 712px) {
  .box-adoptar {
    height: 90%;
    flex-direction: column;
    flex-wrap: nowrap; }
    .box-adoptar .card {
      flex-direction: row;
      align-items: center;
      width: auto;
      background-image: url(../img/pattern.jpg);
      background-size: contain; }
      .box-adoptar .card img {
        height: auto; }
      .box-adoptar .card .card-body {
        align-items: flex-start;
        background-color: #f8f7ff; } }

@media screen and (max-width: 711px) {
  .box-adoptar {
    height: 4000px;
    justify-content: center; } }

@media screen and (max-width: 458px) {
  .box-adoptar .card {
    width: 280px;
    height: 600px;
    align-items: center; }
    .box-adoptar .card img {
      width: 180px;
      height: 250px; } }

/* contacto page */
@media screen and (max-width: 1160px) {
  .main-contacto {
    flex-direction: column;
    align-items: center;
    height: 100%; }
  .formulario {
    background-color: #219EBC;
    width: 100%;
    padding: 40px; } }

@media screen and (max-width: 768px) {
  .map div {
    width: 100%; }
    .map div i {
      font-size: 16px; }
    .map div p {
      font-size: 16px; }
  .map iframe {
    width: 100%;
    height: 100%; }
  .row {
    flex-direction: column; } }
