.footer {
    grid-area: footer;
    background-color: $secundario;
    @include flex (flex, row, space-between, center);
    img {
        width: 40px;
        height: 40px;
        margin-left: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .logo-redes i {
        font-size: 35px;
        padding: 10px;
        &:hover {
            color: $secundario;
        }
    }

}
