@import "./extend";
@import "./variables";


.grid-container-index {
    @extend %layout;
    grid-template-areas:
        "menu-bar"
        "main-index"
        "footer";
}
.menu-bar {
    grid-area: menu-bar;
    background-color: $secundario;
}


.grid-container-nosotros {
    @extend %layout;
    grid-template-areas:
        "menu-bar"
        "quienes-somos"
        "footer";
}
.quienes-somos {
    grid-area: quienes-somos;
    background-image: url(../img/pattern.jpg);
    background-size: contain;
}


.grid-container-refugio {
    @extend %layout;
    grid-template-areas:
        "menu-bar"
        "main-refugio"
        "footer";
}
.main-refugio {
    grid-area: main-refugio;
}

.grid-container-adopciones {
    @extend %layout;
    grid-template-areas:
        "menu-bar"
        "main-adoptar"
        "footer";
}
.main-adoptar {
    grid-area: main-adoptar;
}

.grid-container-contacto {
    @extend %layout;
    grid-template-areas:
        "menu-bar"
        "main-contacto"
        "footer";
}
.main-contacto {
    grid-area: main-contacto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 830px;
}