@mixin flex ($flex, $direction, $justify, $align) {
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin flex-wrap ($flex, $direction, $justify, $wrap) {
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    flex-wrap: $wrap;
}